name: Math Utility Project (CI included) | © 2025 by giáo.làng

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml

      - name: Distribute jar file
        run: mkdir -p staging && cp dist/*.jar staging || cp target/*.jar staging

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cham_em_ngoc_trinh_lay_jar
          path: staging
